

Image Edge Detection/C#/.vs/ImageEdgeDetection/v16/Server/sqlite3/storage.ide
Image Edge Detection/C#/.vs/ImageEdgeDetection/v16/Server/sqlite3/storage.ide-shm
Image Edge Detection/C#/.vs/ImageEdgeDetection/v16/Server/sqlite3/storage.ide-wal


Image Edge Detection/C#/.vs/ImageEdgeDetection/v16/.suo
Image Edge Detection/C#/ImageEdgeDetection/obj/x86/Debug/ImageEdgeDetection.csprojAssemblyReference.cache
Image Edge Detection/C#/.vs/ImageEdgeDetection/v16/Server/sqlite3/storage.ide
Image Edge Detection/C#/.vs/ImageEdgeDetection/v16/.suo
