
Image Edge Detection/C#/.vs/ImageEdgeDetection/v16/.suo
Image Edge Detection/C#/.vs/ImageEdgeDetection/v16/Server/sqlite3/storage.ide
Image Edge Detection/C#/.vs/ImageEdgeDetection/v16/Server/sqlite3/storage.ide-shm
Image Edge Detection/C#/.vs/ImageEdgeDetection/v16/Server/sqlite3/storage.ide-wal
