

Image Edge Detection/C#/.vs/ImageEdgeDetection/v16/Server/sqlite3/storage.ide
Image Edge Detection/C#/.vs/ImageEdgeDetection/v16/Server/sqlite3/storage.ide-shm
Image Edge Detection/C#/.vs/ImageEdgeDetection/v16/Server/sqlite3/storage.ide-wal


Image Edge Detection/C#/.vs/ImageEdgeDetection/v16/.suo
Image Edge Detection/C#/ImageEdgeDetection/obj/x86/Debug/ImageEdgeDetection.csprojAssemblyReference.cache
Image Edge Detection/C#/.vs/ImageEdgeDetection/v16/Server/sqlite3/storage.ide
Image Edge Detection/C#/.vs/ImageEdgeDetection/v16/.suo
*.ide
Image Edge Detection/C#/.vs/ImageEdgeDetection/v16/.suo
Image Edge Detection/C#/TestImageEdgeDetection/obj/Debug/TestImageEdgeDetection.csprojAssemblyReference.cache
Image Edge Detection/C#/.vs/ImageEdgeDetection/v16/TestStore/0/000-0000.testlog
Image Edge Detection/C#/ImageEdgeDetection/obj/x86/Debug/ImageEdgeDetection.csprojAssemblyReference.cache
